[submodule "ren-cxx-filesystem"]
	path = ren-cxx-filesystem
	url = ../ren-cxx-filesystem
[submodule "ren-cxx-fuse"]
	path = ren-cxx-fuse
	url = ../ren-cxx-fuse
[submodule "ren-tupsupport"]
	path = tupsupport
	url = ../ren-tupsupport
[submodule "ren-cxx-basics"]
	path = ren-cxx-basics
	url = ../ren-cxx-basics
